/***************************
********** Global **********
***************************/

:root {
  --background: #efefef;
  --surface: #fff;
  --scrollbar: #bfbfbf;
  --text-color: #000;
  --accent: rgb(0, 100, 200);
  --img-invert: 0;
}

.dark-mode {
  --background: #222;
  --surface: #444;
  --scrollbar: #666;
  --text-color: #fff;
  --accent: rgb(0, 200, 200);
  --img-invert: 1;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text-color);
}

.app>*:not(nav) {
  background-color: var(--background);
  z-index: 1;
  position: relative;
  padding-top: 1rem;
}

.app>*:not(nav):not(footer) {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hidden {
  display: none !important;
}

/***************************
********** Header **********
***************************/

.header {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: var(--background);
  transition: visibility 0.2s ease-in-out, top 0.2s ease-in-out;
  top: -3rem;
  padding: 1rem 0;
  justify-content: space-between;
}

.header-links>a {
  margin: 0 1rem;
}

.mode-toggle {
  margin-left: 2rem;
}

.header a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

.header a:hover,
.header a.active {
  color: var(--accent);
}

.fixed {
  top: 0;
  position: fixed !important;
  /* transition: all 0.3s ease; */
}

.header.fixed {
  visibility: visible;
  left: 0;
  right: 0;
  z-index: 99;
}

.mode-toggle {
  cursor: pointer;
}

.mode-toggle svg {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(var(--img-invert));
}

/***************************
*********** Hero ***********
***************************/

#home {
  background-color: var(--surface);
}

#home.glowing::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  /* Adjust the height of the glow */
  background: linear-gradient(to top, rgba(0, 100, 200, 0.4), rgba(0, 100, 200, 0));
  filter: invert(var(--img-invert));
  /* White glow */
  opacity: 0;
  /* Initially hide the glow */
  animation: pulse 2s infinite;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

#home>div {
  position: fixed;
  z-index: 0;
}

.hero-view h1 {
  font-size: 2rem;
  line-height: 100%;
  font-weight: 100;
}

@media screen and (min-width: 480px) {

  .hero-view h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {

  .hero-view h1 {
    font-size: 4rem;
  }
}

.hero-name {
  color: var(--accent);
  font-weight: 600 !important;
}

.fade-in {
  opacity: 1;
  animation: fadeIn 4s ease-in-out 1;
  visibility: visible;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-1000%);
  }

  50% {
    opacity: 0;
    transform: translateX(-1000%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/***************************
********* Sections *********
***************************/

section {
  flex-direction: column;
  width: 100%;
}

section h2 {
  font-size: 1.5rem;
  line-height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  margin-top: 0;
}

section h2:before {
  content: '';
  border-bottom: 0.25rem solid var(--accent);
  display: block;
  position: absolute;
  z-index: -1;
  margin-top: 1.75rem;
  margin-left: 0.5rem;
  width: 100%;
}

@media screen and (min-width: 480px) {
  section h2:before {
    border-bottom: 0.375rem solid var(--accent);
    margin-top: 2.25rem;
    margin-left: 1rem;
  }

  section h2 {
    font-size: 2rem;
  }

  section h2::after {
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  section h2:before {
    border-bottom: 0.5rem solid var(--accent);
    margin-top: 3rem;
    margin-left: 1.5rem;
  }

  section h2 {
    font-size: 3rem;
  }

  section h2::after {
    margin-left: 1rem;
  }
}

/***************************
********** About ***********
***************************/

.about-container {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
  flex-direction: column-reverse;
  align-items: center;
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: translateY(5rem);
}

.about-container.animate-in {
  opacity: 1;
  transform: translateY(0);
}

.icons .tooltip-container {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.animate-in .icons .tooltip-container:nth-child(1) {
  transition-delay: 1.2s;
  opacity: 1;
}

.animate-in .icons .tooltip-container:nth-child(2) {
  transition-delay: 1.4s;
  opacity: 1;
}

.animate-in .icons .tooltip-container:nth-child(3) {
  transition-delay: 1.6s;
  opacity: 1;
}

.animate-in .icons .tooltip-container:nth-child(4) {
  transition-delay: 1.8s;
  opacity: 1;
}

.animate-in .icons .tooltip-container:nth-child(5) {
  transition-delay: 2.0s;
  opacity: 1;
}

.animate-in .icons .tooltip-container:nth-child(6) {
  transition-delay: 2.2s;
  opacity: 1;
}

.animate-in .icons .tooltip-container:nth-child(7) {
  transition-delay: 2.4s;
  opacity: 1;
}

.profile-picture {
  width: 100%;
  max-width: 20rem;
  height: auto;
  border-radius: 0.5rem;
  margin: 0 auto;
}

.about-content {
  flex: 1;
  margin: 0 1rem;
}

.blurb {
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--surface);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0 0 2rem 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.icons {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  ;
}

.icons svg {
  width: 2.5rem;
  height: 2.5rem;
}

@media (min-width: 768px) {
  .about-container {
    gap: 4rem;
    flex-direction: row;
  }

  .about-content {
    max-width: 40vw;
  }

  .blurb {
    font-size: 1.25rem;
    line-height: 1.6;
    padding: 2rem;
  }

  .icons svg {
    width: 4rem;
    height: 4rem;
  }
}

.icons svg:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/***************************
********* Projects *********
***************************/

#projects {
  background-color: var(--surface);
}

.outer-project-container,
.inner-project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

@media screen and (min-width: 768px) {

  .inner-project-container {
    flex-direction: row;
    gap: 4rem;
  }
}

@media screen and (min-width: 1024px) {

  .outer-project-container {
    flex-direction: row;
    gap: 4rem;
  }
}

.project-list {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0.5rem;
  gap: 0.25rem;
}

@media screen and (min-width: 768px) {
  .project-list {
    gap: 0.5rem;
  }
}

.project-list .list-item {
  font-size: 1rem;
  text-wrap: nowrap;
  padding: 0.5rem 1rem;
  border: 2px solid var(--text-color);
  border-radius: 0.5rem;
  background: var(--background);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.project-list>div {
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

@media screen and (min-width: 768px) {
  .project-list .list-item {
    font-size: 1.25rem;
    text-wrap: nowrap;
    padding: 2rem;
    transition: transform 0.2s ease-in-out;
  }

  .project-list .list-item:not(.active):hover {
    transform: translateX(1rem);
  }
}

.animate-in .project-list>div:nth-child(1) {
  transform: translateY(0);
  opacity: 1;
}

.animate-in .project-list>div:nth-child(2) {
  transform: translateY(0);
  transition-delay: 0.3s;
  opacity: 1;
}

.animate-in .project-list>div:nth-child(3) {
  transform: translateY(0);
  transition-delay: 0.6s;
  opacity: 1;
}

.animate-in .project-list>div:nth-child(4) {
  transform: translateY(0);
  transition-delay: 0.9s;
  opacity: 1;
}

.project-list .list-item.active {
  border: 2px solid var(--accent);
  font-weight: 600;
  cursor: default;
}

.inner-project-container {
  overflow: hidden;
}

.animate-in .inner-project-container {
  overflow: unset;
}

.project-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  transform: translateX(100%);
  opacity: 0;
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.animate-in .project-details {
  transform: translateX(0);
  transition-delay: 1.5s;
  opacity: 1;
}

.project-details:has(.modal) {
  transition: none;
  transform: none;
}

@media screen and (min-width: 768px) {
  .project-details {
    max-width: 50vw;
  }
}

@media screen and (min-width: 1024px) {
  .project-details {
    max-width: 40vw;
  }
}

.project-details>p {
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--background);
}

@media screen and (min-width: 768px) {
  .project-details>p {
    padding: 2rem;
  }
}

@media screen and (max-width: 1023px) {
  .project-icons {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .project-icons {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
  }
}

.project-icons .tooltip-container {
  opacity: 0;
  transition: opacity 1.8s ease-in-out;
}

.animate-in .project-icons .tooltip-container {
  transition-delay: 2.2s;
  opacity: 1;
}

.project-icons svg,
.project-icons .tooltip-container {
  width: 2.5rem;
  height: 2.5rem;
}

.project-icons .tooltip-container>svg:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.project-details h3 {
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-details h3 .view-github svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--text-color);
}

@media screen and (min-width: 768px) {
  .project-details h3 {
    margin: 0;
  }
}

.project-details h3>a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}

.project-details h3>a:hover {
  color: var(--accent);
}

.project-details h3>a:hover svg path {
  fill: var(--accent);
}

.project-details h3 .tooltip-container {
  height: 1.5rem;
  width: 1.5rem;
}

/***************************
****** Image Carousel ******
***************************/

.image-carousel {
  position: relative;
}

.carousel-container {
  overflow: hidden;
}

.image-carousel,
.carousel-container,
.carousel-container img {
  width: 100vw;
  aspect-ratio: 16/9;
}

@media screen and (min-width: 768px) {

  .image-carousel,
  .carousel-container,
  .carousel-container img {
    width: 50vw;
  }
}

@media screen and (min-width: 1024px) {

  .image-carousel,
  .carousel-container,
  .carousel-container img {
    width: 40vw;
  }
}

.carousel-container img {
  object-fit: contain;
  cursor: pointer;
}

.carousel-container img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: calc(50% - 1.5rem);
  left: 0;
  width: 100%;
  z-index: 5;
  pointer-events: none;
}

.navigation .tooltip-container {
  pointer-events: auto;
}

.navigation .tooltip-container,
.close-button,
.modal-navigation .tooltip-container {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  margin: 0 1rem;
}

.navigation .tooltip-container,
.navigation .tooltip-container>svg,
.close-button,
.modal-navigation .tooltip-container,
.modal-navigation .tooltip-container svg {
  width: 1.5rem;
  height: 1.5rem;
}

.dot-indicator {
  display: flex;
  justify-content: center;
  z-index: 5;
  position: relative;
  bottom: 1.25rem;
}

.dot {
  width: 0.375rem;
  height: 0.375rem;
  background-color: #808080;
  border-radius: 50%;
  margin: 0 0.375rem;
  cursor: pointer;

}

.active-dot {
  border: 0.125rem solid #808080;
  margin-top: -0.125rem;
  background-color: transparent;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
}

.modal-content {
  text-align: center;
  position: relative;
  cursor: default;
}

.modal-content img {
  max-width: 90vw;
  max-height: 90vh;
}

.close-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
}

.modal-navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.modal-navigation div {
  cursor: pointer;
  opacity: 0.7;
}


/***************************
********* Tooltip **********
***************************/

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  font-size: 1rem;
  font-weight: 400;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent);
  color: var(--background);
  padding: 5px 10px;
  border-radius: 5px;
  transition: opacity 0.2s;
  text-wrap: nowrap;
  z-index: 99;
}

.tooltip-container:hover .tooltip-text,
.tooltip-container .tooltip-text[style*="visibility: visible"] {
  visibility: visible;
  opacity: 1;
}

/***************************
********** Contact **********
***************************/

#contact {
  justify-content: space-between;
  min-height: calc(100vh - 1rem);
  overflow: hidden;
}

#contact .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .about-content {
    max-width: 40vw;
  }
}

@media screen and (min-width: 768px) {
  .contact-container {
    max-width: 40vw;
  }
}

#footer {
  font-size: 1rem;
  line-height: 1rem;
  color: var(--surface);
}

#contact .social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

#contact .social-links svg {
  width: 2rem;
  height: 2rem;
  filter: invert(var(--img-invert));
}

@media screen and (min-width: 768px) {
  #contact .social-links svg {
    width: 3rem;
    height: 3rem;
  }
}

#contact .social-links svg:hover {
  transform: scale(1.15);
  transition: transform 0.3s ease;
}

#contact p:not(#footer) {
  font-size: 1.25rem;
  line-height: 1.6;
  background-color: var(--surface);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0 1rem 2rem 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  #contact p:not(#footer) {
    font-size: 1.5rem;
    padding: 2rem;
  }
}

#contact .wave-container {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  #contact .wave-container {
    bottom: -6rem;
  }
}

#contact .wave-container svg {
  width: 100%;
  height: 100%;
  display: block;
}

/***************************
******** Scrollbar *********
***************************/

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
  background: var(--surface);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--background);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--surface) var(--scrollbar);
}
